* {
	border: 1px solid black;
}

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Gugi',cursive;
	/* border: ""; */
}

.title {
	position: center;
	color: #6A5;
	width: 250px;
	/* height: 80px; */
	margin: 15px auto;
	font-size: 33px;
}

.canvas {
	/* background-color: grey; */
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.container {
	/* background-color: grey; */
	overflow: hidden;
	width: 504px;
	height:500px;
	border: 1px solid grey;
	position: center;
	border-style: ridge;
	border-radius: 1px;
	/* box-sizing: border-box; */

}
.box {

}

.boxed {
	height : 16px;
	width : 16px;
	float : left;
	display: block;
}

/* increase box  size  */
.bigBox {
	height : gridSize + px;
	width :  gridSize + px;
	float : left;
	/* clear : right; */
}

button {
	/* clear : right; */
	/* display: flex; */
	/* flex: 1; */
	min-height: 5vh;
	/* align-items: center;
	justify-content: center; */
	margin-left: 30px;
	border-radius: 10px;
}

button:hover {
	background-color: #6A5;
}

.footer {
	display: flex;
	flex: 1;
	align-items: center;
}
